body {
  font-family: Times New Roman, sans-serif;
  background-color: #000;
  text-align: center;
  margin: 50px;
}

h1 {
  color: #fefefe;
}

p {
  color: #fefefe;
}

#cookieValue {
  margin-top: 20px;
  font-weight: bold;
  color: #031d86;
}
body {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #ccc;    
  border-radius: 15px;
  background-color: #fefefe;
}



footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #1268b8;
}
