body {
  font-family: Times New Roman, sans-serif;
  background-color: #000;
  text-align: center;
  margin: 50px;
}

h1 {
  color: #fefefe;
}

p {
  color: #fefefe;
}

#cookieValue {
  margin-top: 20px;
  font-weight: bold;
  color: #031d86;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #1268b8;
}
